@tailwind base;
@tailwind components;
@tailwind utilities;

*,
* > * {
  margin: 0;
}
.loader span {
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.loader span:nth-child(2) {
  animation-delay: 50ms;
}
.loader span:nth-child(3) {
  animation-delay: 150ms;
}
.fx {
  @apply flex justify-center items-center;
}
.ant-tabs {
  @apply flex-1 !text-white;
}
.ant-tabs-content,
.ant-tabs-tabpane {
  height: 100%;
}
.ant-tabs-ink-bar {
  @apply rounded-t-xl !h-[7px];
}
/* #1677ff */
.wp {
  word-wrap: break-word;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply !h-screen bg-slate-950 text-white;
}
.scrollb::-webkit-scrollbar {
  width: 10px;
}
.scrollb {
  scroll-behavior: smooth;
}
.ant-tabs-tab-btn {
  color: white !important;
}

/* Track */
.scrollb::-webkit-scrollbar-track {
  border-radius: 10px;
  @apply bg-slate-950;
}

/* Handle */
.scrollb::-webkit-scrollbar-thumb {
  @apply bg-slate-800;
  border-radius: 10px;
}

/* Handle on hover */
.scrollb::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}
